<!DOCTYPE html>
<html lang="en" class="full-box">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/static/css/index.css"/>
  <link rel="stylesheet" href="/static/css/global.css">
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/layui-vue.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/config.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>
<body class="full-box">
<div id="app" class="full-box" style="background: red">


  通道


</div>
<script>
  const App = {
    compilerOptions: {
      delimiters: ['${', '}'],
      comments: true
    },
    data() {
      return {

      };
    },
    created() {
    },
    methods: {

    }
  };
  const app = Vue.createApp(App);
  app.use(LayuiVue);
  app.use(http)
  app.mount("#app");
</script>

<style>


</style>
</body>
</html>