<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/layui-vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/config.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>
<body>
<div id="app" style="padding: 10px 10px 10px 10px">
    <lay-field title="通道方案"></lay-field>

    <lay-space direction="vertical" :fill="true">
        <lay-space>
            <lay-button type="primary" @click="this.action.openInfoCreate=true">添加方案</lay-button>

        </lay-space>
        <lay-table :columns="planTableOption.columns" :page="planTableOption.page" :data-source="planTableOption.data"
                   :loading="planTableOption.loading"  >

            <template v-slot:status="{ data }">
                <lay-switch v-model="data.status" onswitch-text="启用" :onswitch-value="10" unswitch-text="禁用"
                            :unswitch-value="20" @change="changeInfoStatus(data)"></lay-switch>
            </template>
            <template v-slot:channel-type="{ data }">
                {{getChannelTypeName(data.channelType)}}
            </template>

            <template v-slot:create-time="{ data }">
                {{this.$util.longTimeFormat(data.createTime)}}
            </template>

            <template v-slot:operator="{data}">
                <lay-button size="xs" type="warm" @click="editInfo(data)">编辑</lay-button>
                <lay-button size="xs" type="danger" @click="RefreshKey(data)">重置key</lay-button>
                <lay-button size="xs" type="danger" @click="deleteInfo(data)">删除</lay-button>

            </template>

            <template v-slot:expand="{ data }">

                <lay-panel>
                    <lay-space v-if="data.channelType===10">
                        <span>webhook 类型：{{getWebhookTypeName(JSON.parse(data.optionJsonStr).hookType)}}</span>

                        <span>webhook url：{{JSON.parse(data.optionJsonStr).url}}</span>
                    </lay-space>
                    <lay-space v-if="data.channelType===20">
                        <span>host：{{JSON.parse(data.optionJsonStr).host}}</span>
                        <span>port：{{JSON.parse(data.optionJsonStr).port}}</span>
                        <span>username：{{JSON.parse(data.optionJsonStr).username}}</span>
                        <span>password：{{JSON.parse(data.optionJsonStr).password}}</span>
                        <span>toEmails：{{JSON.parse(data.optionJsonStr).toEmailListStr}}</span>
                    </lay-space>
                    <lay-space v-if="data.channelType===30">
                        <span>appId：{{JSON.parse(data.optionJsonStr).appId}}</span>
                        <span>appSecret：{{JSON.parse(data.optionJsonStr).appSecret}}</span>
                        <span>templateId：{{JSON.parse(data.optionJsonStr).templateId}}</span>
                        <span>userIds：{{JSON.parse(data.optionJsonStr).toUserListStr}}</span>

                    </lay-space>
                </lay-panel>


            </template>

        </lay-table>
    </lay-space>


    <!--    弹出层统一放置-->
    <div>
        <lay-layer title="修改通道" maxmin :shade="true" :shade-close="false" style="text-align: center;" area="60%"
                   resize move v-model="action.openInfoEdit">

            <lay-form :model="infoForm" v-if="action.openInfoEdit" ref="nef" initValidate
                      style="margin: 15px 15px 15px 15px">
                <lay-form-item label="通道名称：" prop="name" required
                               :rules="{min:2,max:20,message:'通道名称为5至20字'}">
                    <lay-input v-model="infoForm.name" prefix-icon="layui-icon-person" size="lg"></lay-input>
                </lay-form-item>
                <lay-form-item label="ip白名单：" prop="whiteListStr" required :rules="checkWhiteListStr">
                    <lay-tag-input v-model="tagInputs.whiteList" v-model:input-value="tagInputs.whiteListInput"
                                   placeholder="输入正确的ipv4地址敲击回车,不使用白名单请添加0.0.0.0"
                                   @change="toWhiteListStr"
                                   allow-clear></lay-tag-input>
                </lay-form-item>



                <lay-ripple>
                    <lay-button type="warm" @click="submitInfoUpdate">提交修改</lay-button>


                </lay-ripple>
            </lay-form>

        </lay-layer>

        <lay-layer title="新建方案" maxmin :shade="true" :shade-close="false" style="text-align: center;" area="60%"
                   resize move v-model="action.openInfoCreate">

            <lay-form :model="infoForm" v-if="action.openInfoCreate" ref="ncf" initValidate
                      style="margin: 15px 15px 15px 15px">
                <lay-form-item label="方案名称：" prop="name" required
                               :rules="{min:2,max:20,message:'方案名称为5至20字'}">
                    <lay-input v-model="infoForm.name" prefix-icon="layui-icon-person" size="lg"></lay-input>
                </lay-form-item>
                <lay-form-item label="ip白名单：" prop="whiteListStr" required :rules="checkWhiteListStr">
                    <lay-tag-input v-model="tagInputs.whiteList" v-model:input-value="tagInputs.whiteListInput"
                                   placeholder="输入正确的ipv4地址敲击回车,不使用白名单请添加0.0.0.0"
                                   @change="toWhiteListStr"
                                   allow-clear></lay-tag-input>
                </lay-form-item>

                <lay-form-item label="使用通道：" porp="channelIdListStr" required>

                    <lay-tag-input
                            v-model="tagInputs.channelIdList"
                            v-model:input-value="tagInputs.channelIdListInput"
                            allowClear
                            placeholder="选择调用的通道"
                            @change="toChannelIdListStr"
                            @input-value-change="inputSearch"
                            @remove="removeInfo"
                            @press-enter="stopEnter"
                    >

                    </lay-tag-input>

                    <lay-table :columns="infoTableOption.columns" :page="infoTableOption.page" :data-source="infoTableOption.data"
                               :loading="infoTableOption.loading" @change="changeInfoTable" id="id">
                        <template v-slot:channel-type="{data}">
                            <lay-space v-if="data.channelType===10">
                                {{data.channelType}}
                            </lay-space>
                        </template>

                    </lay-table>
                </lay-form-item>

                <lay-ripple>
                    <lay-button type="warm" @click="submitInfoCreate">创建方案</lay-button>


                </lay-ripple>
            </lay-form>

        </lay-layer>

    </div>
</div>


<script type="module">

    const App = {
        data() {
            return {
                infoForm: {
                    id: null,
                    name: "",
                    whiteListStr: '',
                    channelIdListStr:''
                },
                tagInputs: {
                    whiteList: [],
                    whiteListInput: "",
                    channelIdList:[],
                    channelIdListInput:''
                },

                action: {
                    openInfoCreate: false,
                    openInfoEdit: false,
                },
                ds: [],
                infoTableOption: {
                    selectedKeys:[],
                    columns: [

                        {
                            title: "通道名",
                            width: "200px",
                            key: "name",
                            align: "center"
                        },
                        {
                            title: "通道类型",
                            width: "200px",
                            customSlot: 'channel-type',
                            key: "channelType",
                            align: "center"
                        },

                    ],
                    page: {
                        total: 0,
                        limit: 10,
                        current: 1,
                        showRefresh: true,
                    },
                    data: [],
                    searchValue: {},
                    loading: false
                },
                planTableOption: {
                    columns: [
                        {
                            title: "id",
                            width: "200px",
                            key: "id",
                            align: "center"
                        },
                        {
                            title: "方案名",
                            width: "200px",
                            key: "name",
                            align: "center"
                        },

                        {
                            title: "状态",
                            width: "200px",
                            key: "status",
                            customSlot: 'status',
                            align: "center"
                        },


                        {
                            title: "创建时间",
                            width: "200px",
                            customSlot: 'create-time',
                            key: "createTime",
                            align: "center"
                        },
                        {
                            title: "操作",
                            width: "150px",
                            fixed: "right",
                            align: "center",
                            customSlot: "operator",
                            key: "operator"
                        }
                    ],
                    page: {
                        total: 0,
                        limit: 10,
                        current: 1,
                        showRefresh: true,
                    },
                    data: [],
                    searchValue: {},
                    loading: false
                },
                checkWhiteListStr: {
                    validator(rule, value, callback, source, options) {



                        if (value !== null && value !== "") {
                            const list = value.split(",")
                            let ipRegx = /((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})(\.((2(5[0-5]|[0-4]\d))|[0-1]?\d{1,2})){3}/
                            for (let i = 0; i < list.length; i++) {
                                let item = list[i]
                                if (!ipRegx.test(item)) {
                                    callback(new Error(`${item}不是正确的ipv4格式`));
                                    return false
                                }
                            }


                        }

                        return true
                    }
                },
                checkUrl: {
                    validator(rule, value, callback, source, options) {

                        let urlReg = /^([\w-]+\.)+[\w-]+(\/[\w-.\/?%&=]*)?$/
                        if (!urlReg.test(value)) {
                            callback(new Error(`host格式错误（请输入不带协议头的域名或ip）`));

                            return false
                        }
                        return true
                    }
                },
                checkToUserListStr: {
                    validator(rule, value, callback, source, options) {


                        if (value !== null && value !== "") {
                            const list = value.split(",")
                            for (let i = 0; i < list.length; i++) {
                                let item = list[i]
                                if (item === "") {
                                    callback(new Error(`userId不能为空`));
                                    return false
                                }
                            }


                        }

                        return true
                    }
                },

                checkToEmailListStr: {
                    validator(rule, value, callback, source, options) {


                        if (value !== null && value !== "") {
                            const list = value.split(",")
                            let emailRegx = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                            for (let i = 0; i < list.length; i++) {
                                let item = list[i]
                                if (!emailRegx.test(item)) {
                                    callback(new Error(`${item}不是正确的email格式`));
                                    return false
                                }
                            }


                        }

                        return true
                    }
                },


            };
        },
        mounted() {
            this.loadPlanPage()
        },
        watch: {

            "action.openInfoCreate": {
                handler(next, _) {
                    //只监听新增框弹出状态的监听，当新增框关闭时 重置相应的form内容
                    if (!next) {
                        this.$refs.ncf.reset()

                        this.tagInputs = this.$options.data().tagInputs
                        this.infoTableOption=this.$options.data().infoTableOption


                    }else {
                        this.loadInfoPage()
                    }

                }
            },
            "action.openInfoEdit": {
                handler(next, _) {
                    //只监听新增框弹出状态的监听，当新增框关闭时 重置相应的form内容
                    if (!next) {
                        this.$refs.ncf.reset()

                        this.tagInputs = this.$options.data().tagInputs
                        this.infoTableOption=this.$options.data().infoTableOption

                        this.loadInfoPage()

                    }

                }
            }

        },
        methods: {
            removeInfo(v,e){

            },
            inputSearch(value){
                this.infoTableOption=this.$options.data().infoTableOption
                this.loadInfoPage();
            },
            stopEnter(v,e){
                let len = this.tagInputs.channelIdList.length;
                if (len>0){
                    let data =this.tagInputs.channelIdList[len-1]
                    this.tagInputs.channelIdList.splice(len-1,1)
                    this.tagInputs.channelIdListInput=data
                }

            },
            changeInfoTable(data) {
                this.infoTableOption.page.current = data.current
                this.infoTableOption.page.limit = data.limit

                this.loadInfoPage()
            },
            loadInfoPage() {


                let param = {
                    page: this.infoTableOption.page.current,
                    limit: this.infoTableOption.page.limit,
                    params: {
                        name:this.tagInputs.channelIdListInput
                    }
                }
                this.infoTableOption.loading = true
                this.$request.post("/api/admin/channel/info/load", param).then(res => {
                    if (res.code == 1) {

                        this.infoTableOption.data = res.data
                        this.infoTableOption.page.total = res.count
                    } else {
                        LayuiVue.layer.msg(`${res.msg},加载通道信息失败`, {icon: 2, time: 1000})

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                }).finally(() => {
                    this.infoTableOption.loading = false


                })

            },

            toWhiteListStr() {
                this.infoForm.whiteListStr = this.$util.arrayParamToStr("", this.tagInputs.whiteList)
            },

            toChannelIdListStr() {
                this.infoForm.channelIdListStr= this.$util.arrayParamToStr("", this.tagInputs.channelIdList)
            },
            editInfo(data) {
                this.action.openInfoEdit = true

                this.infoForm = {
                    id: data.id,
                    name: data.name,
                    channelType: data.channelType,
                    whiteListStr: data.whiteListStr
                }

                this.tagInputs.whiteList = data.whiteListStr.split(",")



            },


            deleteInfo(data) {
                let index = LayuiVue.layer.confirm(`确认删除通道《${data.name}》吗？`, {
                    icon: 3,
                    title: false,
                    yes: () => {

                        let loadIndex = LayuiVue.layer.msg(`正在删除通道《${data.name}》`, {
                            icon: 16,
                            time: 0,
                            shade: true
                        })
                        this.$request.post("/api/admin/channel/plan/del", {id: data.id}).then(res => {
                            if (res.code === 1) {

                                this.loadInfoPage()

                                LayuiVue.layer.close(index)
                                LayuiVue.layer.msg(`${res.msg},删除通道《${data.name}》成功`, {icon: 1, time: 1000})


                            } else {
                                LayuiVue.layer.msg(`${res.msg},删除通道《${data.name}》失败`, {icon: 2, time: 1000})

                            }
                        }).catch((res) => {
                            LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                        }).finally(() => {

                            LayuiVue.layer.close(loadIndex)

                        })

                    }
                })
            },
            changeInfoStatus(data) {

                let lastStatus = data.status


                //判断当前值是否为禁用
                let ifDisabled = data.status === 20


                let loadIndex = LayuiVue.layer.msg(`正在${ifDisabled ? '启用' : '禁用'}通道《${data.name}》`, {
                    icon: 16,
                    time: 0,
                    shade: true
                })
                this.$request.post("/api/admin/channel/plan/change_status",
                    {
                        id: data.id,
                        status: ifDisabled ? 10 : 20
                    }
                ).then(res => {
                    if (res.code === 1) {


                        LayuiVue.layer.msg(`${res.msg},${ifDisabled ? '启用' : '禁用'}通道《${data.name}》成功`, {
                            icon: 1,
                            time: 1000
                        })


                    } else {
                        data.status = lastStatus
                        LayuiVue.layer.msg(`${res.msg},${ifDisabled ? '启用' : '禁用'}通道《${data.name}》失败`, {
                            icon: 2,
                            time: 1000
                        })

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                    data.status = lastStatus
                }).finally(() => {
                    LayuiVue.layer.close(loadIndex)

                })


            },
            RefreshKey(data) {


                let loadIndex = LayuiVue.layer.msg(`正在重置通道《${data.name}》的key`, {
                    icon: 16,
                    time: 0,
                    shade: true
                })
                this.$request.post("/api/admin/channel/plan/refresh_key",
                    {
                        id: data.id,
                    }
                ).then(res => {
                    if (res.code === 1) {


                        LayuiVue.layer.msg(`重置通道《${data.name}》的key成功`, {
                            icon: 1,
                            time: 1000
                        })

                        data.key = res.data


                    } else {
                        LayuiVue.layer.msg(`重置通道《${data.name}》的key失败`, {
                            icon: 2,
                            time: 1000
                        })

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                }).finally(() => {
                    LayuiVue.layer.close(loadIndex)

                })


            },

            loadInfoPageBegin() {
                this.planTableOption.page = {
                    total: 0,
                    limit: 10,
                    current: 1,
                    showRefresh: true,
                }
                this.planTableOption.searchValue = {}
                this.loadInfoPage()
            },
            loadPlanPage() {


                let param = {
                    page: this.planTableOption.page.current,
                    limit: this.planTableOption.page.limit,

                }
                this.planTableOption.loading = true
                this.$request.post("/api/admin/channel/plan/load", param).then(res => {
                    if (res.code == 1) {

                        console.log(res.data)
                        this.planTableOption.data = res.data

                        this.planTableOption.page.total = res.count

                    } else {
                        LayuiVue.layer.msg(`${res.msg},加载通道方案失败`, {icon: 2, time: 1000})

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                }).finally(() => {
                    this.planTableOption.loading = false

                })

            },
            submitInfoUpdate() {
                this.$refs.ncf.validate((isValidate, model, errors) => {
                    if (!isValidate) {
                        return false
                    } else {
                        let type = this.infoForm.channelType
                        this.$refs[this.getFormRefsName(type)].validate((isValidate, model, errors) => {

                            if (!isValidate) {
                                return false
                            } else {
                                let option = this.getOptionValue(type)
                                let loadIndex = LayuiVue.layer.msg(`正在修改通道`, {
                                    icon: 16,
                                    time: 0,
                                    shade: true
                                })
                                this.$request.post("/api/admin/channel/plan/update", {
                                    ...this.infoForm,
                                    optionJsonStr: JSON.stringify(option)
                                }).then(res => {
                                    if (res.code === 1) {

                                        LayuiVue.layer.msg("修改推送通道成功", {icon: 1, time: 1000,})
                                        this.action.openInfoEdit = false
                                        this.loadInfoPageBegin()


                                    } else {
                                        LayuiVue.layer.msg(`${res.msg},修改推送通道失败`, {icon: 2, time: 1000})

                                    }
                                }).catch((res) => {
                                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                                }).finally(() => {
                                    LayuiVue.layer.close(loadIndex)
                                })

                            }
                        })

                        return false
                    }
                })

                return false


            },

            submitInfoCreate() {

                this.$refs.ncf.validate((isValidate, model, errors) => {
                    if (!isValidate) {
                        return false
                    } else {
                        let type = this.infoForm.channelType
                        this.$refs[this.getFormRefsName(type)].validate((isValidate, model, errors) => {

                            if (!isValidate) {
                                return false
                            } else {
                                let option = this.getOptionValue(type)
                                let loadIndex = LayuiVue.layer.msg(`正在新建通道`, {
                                    icon: 16,
                                    time: 0,
                                    shade: true
                                })
                                this.$request.post("/api/admin/channel/plan/create", {
                                    ...this.infoForm,
                                    optionJsonStr: JSON.stringify(option)
                                }).then(res => {
                                    if (res.code === 1) {

                                        LayuiVue.layer.msg("创建推送通道成功", {icon: 1, time: 1000,})
                                        this.action.openInfoCreate = false
                                        this.loadInfoPageBegin()


                                    } else {
                                        LayuiVue.layer.msg(`${res.msg},创建推送通道失败`, {icon: 2, time: 1000})

                                    }
                                }).catch((res) => {
                                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                                }).finally(() => {
                                    LayuiVue.layer.close(loadIndex)

                                })
                            }
                        })

                        return false
                    }
                })

                return false


            },
        }
    };
    const app = Vue.createApp(App);


    app.use(LayuiVue);
    app.use(http)
    app.use(util)

    app.mount("#app");
</script>

<style>


</style>
</body>
</html>
