<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/static/css/index.css"/>
  <link rel="stylesheet" href="/static/css/global.css">
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/layui-vue.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/config.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>
<body>
<div id="app" style="padding: 10px 10px 10px 10px">
    <lay-field title="通道管理"></lay-field>
    <lay-table :columns="columns" :data-source="ds" id="id"></lay-table>




</div>
<script>
  const App = {
    compilerOptions: {
      delimiters: ['${', '}'],
      comments: true
    },
    data() {
      return {
        ds:[

        ],
        columns:[
          {
            title:"id",
            width:"200px",
            key:"id",
            align: "center"
          },
          {
            title:"通道名",
            width:"200px",
            key:"name",
            align: "center"
          },
          {
            title:"状态",
            width:"200px",
            key:"status",
            align: "center"
          },
          {
            title:"创建时间",
            width:"200px",
            key:"createTime",
            align: "center"
          }
        ]
      };
    },
    created() {
    },
    methods: {

    }
  };
  const app = Vue.createApp(App);
  app.use(LayuiVue);
  app.use(http)
  app.mount("#app");
</script>

<style>


</style>
</body>
</html>