<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/layui-vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/config.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>
<body>
<div id="app" style="padding: 10px 10px 10px 10px">
    <lay-field title="通道方案管理"></lay-field>

    <lay-space direction="vertical" :fill="true">
        <lay-space>
            <lay-button type="primary" @click="this.action.openInfoCreate=true">添加通道方案</lay-button>

        </lay-space>
        <lay-table :columns="infoTableOption.columns" :page="infoTableOption.page" :data-source="infoTableOption.data"
                   :loading="infoTableOption.loading" @change="changeInfoTable" id="id">

            <template v-slot:status="{ data }">
                <lay-switch v-model="data.status" onswitch-text="启用" :onswitch-value="10" unswitch-text="禁用"
                            :unswitch-value="0" @change="changeInfoStatus(data)"></lay-switch>
                {{data.status}}
            </template>
            <template v-slot:operator="{data}">
                <lay-button size="xs" type="warm" @click="deleteInfo(data)">查看key</lay-button>
                <lay-button size="xs" type="warm" @click="deleteInfo(data)">编辑</lay-button>
                <lay-button size="xs" type="danger" @click="deleteInfo(data)">重置key</lay-button>
                <lay-button size="xs" type="danger" @click="deleteInfo(data)">删除</lay-button>

            </template>

            <template v-slot:expand="{ data }">
                <div class="card-container">
                    <lay-card title="标题">
                        内容
                    </lay-card>
                    <lay-card title="标题">
                        内容
                    </lay-card>
                    <lay-card title="标题">
                        内容
                    </lay-card>
                    <lay-card title="标题">
                        内容
                    </lay-card>
                    <lay-card title="标题">
                        内容
                    </lay-card>
                    <lay-card title="标题">
                        内容
                    </lay-card>


                </div>
            </template>

        </lay-table>
    </lay-space>


    <!--    弹出层统一放置-->
    <div>
        <lay-layer title="新建通道方案" maxmin :shade="true" :shade-close="false" style="text-align: center;" area="60%"
                   resize move v-model="action.openInfoCreate">

            <lay-form :model="infoCreateForm" ref="icf" required initValidate style="margin: 15px 15px 15px 15px">
                <lay-form-item label="通道方案名称" prop="name" :rules="{min:2,max:20,message:'通道方案名称为5至20字'}">
                    <lay-input v-model="infoCreateForm.name" prefix-icon="layui-icon-person" size="lg"></lay-input>
                </lay-form-item>
                <lay-form-item label="通道方案名称" >
                    <lay-tag-input v-model="infoCreateForm.data1" v-model:input-value="infoCreateForm.data2" @change="demo" allow-clear ></lay-tag-input>
                </lay-form-item>


                <lay-ripple>
                    <lay-button type="warm" @click="submitInfoCreate">创建</lay-button>


                </lay-ripple>
            </lay-form>

        </lay-layer>

    </div>
</div>


<script type="module">
    import channelcard from "/static/module/channelcard.js"

    const App = {
        components: {
            channelcard
        },
        data() {
            return {
                infoCreateForm: {
                    name: "",
                    data1:[],
                    data2:""

                },
                action: {
                    openInfoCreate: false,
                },
                ds: [],
                infoTableOption: {
                    columns: [
                        {
                            title: "id",
                            width: "200px",
                            key: "id",
                            align: "center"
                        },
                        {
                            title: "通道方案名",
                            width: "200px",
                            key: "name",
                            align: "center"
                        },
                        {
                            title: "状态",
                            width: "200px",
                            customSlot: 'status',
                            key: "status",
                            align: "center"
                        },
                        {
                            title: "创建时间",
                            customSlot: 'createTime',
                            width: "200px",
                            key: "createTime",
                            align: "center"
                        }, {
                            title: "操作",
                            width: "150px",
                            fixed: "right",
                            align: "center",
                            customSlot: "operator",
                            key: "operator"
                        }
                    ],
                    page: {
                        total: 0,
                        limit: 10,
                        current: 1,
                        showRefresh: true,
                    },
                    data: [],
                    searchValue: {},
                    loading: false
                }

            };
        },
        created() {
            this.loadInfoPage()
        },
        watch: {

            action: {
                handler(next, _) {
                    if (!next.openInfoCreate) {
                        this.$refs.icf.reset()

                    }

                },
                deep: true
            }

        },
        methods: {
            demo(){
              console.log(this.infoCreateForm)
            },
            deleteInfo(data) {
                let index = LayuiVue.layer.confirm(`确认删除通道方案《${data.name}》吗？`, {
                    icon: 3,
                    title: false,
                    yes: () => {

                        let loadIndex = LayuiVue.layer.msg(`正在删除通道方案《${data.name}》`, {
                            icon: 16,
                            time: 0,
                            shade: true
                        })
                        this.$request.post("/admin/channel/channel_info/del", {id: data.id}).then(res => {
                            if (res.code === 1) {

                                this.loadInfoPage()

                                LayuiVue.layer.close(index)
                                LayuiVue.layer.msg(`${res.msg},删除通道方案《${data.name}》成功`, {icon: 1, time: 1000})


                            } else {
                                LayuiVue.layer.msg(`${res.msg},删除通道方案《${data.name}》失败`, {icon: 2, time: 1000})

                            }
                        }).catch((res) => {
                            LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                        }).finally(() => {

                            LayuiVue.layer.close(loadIndex)

                        })

                    }
                })
            },
            changeInfoStatus(data) {

                let lastStatus = data.status
                let index = this.$util.getArrayItemIndex(this.infoTableOption.data, data, "id")


                //判断当前值是否为禁用
                let ifDisabled = data.status === 0


                let loadIndex = LayuiVue.layer.msg(`正在${ifDisabled ? '启用' : '禁用'}通道方案《${data.name}》`, {
                    icon: 16,
                    time: 0,
                    shade: true
                })
                this.$request.post("/admin/channel/channel_info/update",
                    {
                        id: data.id,
                        status: ifDisabled ? 10 : 0
                    }
                ).then(res => {
                    if (res.code === 1) {


                        LayuiVue.layer.msg(`${res.msg},${ifDisabled ? '启用' : '禁用'}通道方案《${data.name}》成功`, {
                            icon: 1,
                            time: 1000
                        })


                    } else {
                        this.infoTableOption.data[index].status = lastStatus
                        LayuiVue.layer.msg(`${res.msg},${ifDisabled ? '启用' : '禁用'}通道方案《${data.name}》失败`, {
                            icon: 2,
                            time: 1000
                        })

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                    this.infoTableOption.data[index].status = lastStatus
                }).finally(() => {
                    LayuiVue.layer.close(loadIndex)

                })


            },
            changeInfoTable(data) {
                this.infoTableOption.page.current = data.current
                this.infoTableOption.page.limit = data.limit

                this.loadInfoPage()
            },
            loadInfoPageBegin() {
                this.infoTableOption.page = {
                    total: 0,
                    limit: 10,
                    current: 1,
                    showRefresh: true,
                }
                this.infoTableOption.searchValue = {}
                this.loadInfoPage()
            },
            loadInfoPage() {


                let param = {
                    page: this.infoTableOption.page.current,
                    limit: this.infoTableOption.page.limit,
                    params: {
                        ...this.infoTableOption.searchValue
                    }
                }
                this.infoTableOption.loading = true
                this.$request.post("/admin/channel/channel_info/load", param).then(res => {
                    if (res.code == 1) {

                        this.infoTableOption.data = res.data
                        this.infoTableOption.page.total = res.count

                    } else {
                        LayuiVue.layer.msg(`${res.msg},加载通道方案信息失败`, {icon: 2, time: 1000})

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                }).finally(() => {
                    this.infoTableOption.loading = false

                })

            },
            submitInfoCreate() {

                this.$refs.icf.validate((isValidate, model, errors) => {
                    if (!isValidate) {
                        return false
                    } else {
                        this.$request.post("/admin/channel/channel_info/create", {...this.infoCreateForm}).then(res => {
                            if (res.code === 1) {

                                LayuiVue.layer.msg("创建推送通道方案成功", {icon: 1, time: 1000,})
                                this.action.openInfoCreate = false
                                this.loadInfoPageBegin()


                            } else {
                                LayuiVue.layer.msg(`${res.msg},创建推送通道方案失败`, {icon: 2, time: 1000})

                            }
                        }).catch((res) => {
                            LayuiVue.layer.msg("网络错误，请稍后再试", {icon: 2, time: 1000})
                        })

                    }


                })


            },
        }
    };
    const app = Vue.createApp(App);
    app.use(LayuiVue);
    app.use(http)
    app.use(util)

    app.mount("#app");
</script>

<style>


</style>
</body>
</html>
