<!DOCTYPE html>
<html lang="en" class="full-box">
<head>
    <title>登录</title>
    <meta charset="UTF-8"/>
    <link rel="shortcut  icon" href="/static/img/dobby.jpeg" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/index.css"/>
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/layui-vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/config.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>
<body class="full-box">
<div id="app" class="full-box">


    <lay-panel shadow="hover" class="form-box layui-anim layui-anim-fadein">


        <lay-form :model="loginForm" ref="lf" required initValidate>
            <lay-form-item label="邮箱地址" prop="email" :rules="{type : 'email',message:'邮箱地址不正确'}">
                <lay-input v-model="loginForm.email" prefix-icon="layui-icon-email" size="lg"></lay-input>
            </lay-form-item>
            <lay-form-item label="验证码" prop="code" :rules="{  type :  'string',min : 6,max : 6,message:'验证码格式错误'}">
                <lay-input v-model="loginForm.code" prefix-icon="layui-icon-fonts-code" size="lg">
                    <template v-slot:suffix>
                        <lay-ripple type="out" trigger="always" v-show="!sendCodeStatus.status">
                            <lay-button type="primary" @click="sendCode" :loading="sendCodeStatus.loading" :disabled="sendCodeStatus.loading" >
                                <lay-icon type="layui-icon-release"></lay-icon>
                            </lay-button>
                        </lay-ripple>
                        <lay-ripple type="out" trigger="always"  v-if="sendCodeStatus.status">
                            <lay-button type="warm" :disabled="true">{{sendCodeStatus.second}}</lay-button>
                        </lay-ripple>
                    </template>
                </lay-input>
            </lay-form-item>
            <lay-ripple>
                <lay-button type="warm" @click="login" :loading="loginLoading" :disabled="loginLoading">登录</lay-button>


            </lay-ripple>
        </lay-form>


    </lay-panel>


</div>
<script>
    const App = {

        data() {
            return {
                loginLoading:false,
                loginForm: {
                    email: "",
                    code: ""
                },
                sendCodeStatus: {
                    loading: false,
                    status: false,
                    second: 60,
                    timer: null
                }
            };
        },
        created() {


            if (self !== top) {
                window.top.location.href="/"
            }
        },
        watch: {
            'sendCodeStatus.status'(next, _) {
                //监听验证码发送倒计时变化
                if (next) {

                    this.sendCodeStatus.timer=setInterval(()=>{

                        if (this.sendCodeStatus.second===0){
                            this.sendCodeStatus.status=false
                            this.sendCodeStatus.second=60
                            if (this.sendCodeStatus.timer!=null){
                                clearInterval(this.sendCodeStatus.timer)
                            }
                        }

                        this.sendCodeStatus.second--;


                    },1000)

                }
            },

        },
        methods: {
            login() {

                this.$refs.lf.validate((isValidate, model, errors) => {
                    if (!isValidate){
                        return false
                    }else {

                        this.loginLoading=true

                        this.$request.post("/api/login/login", {...this.loginForm}).then(res => {
                            if (res.code == 1) {

                                LayuiVue.layer.msg("登录成功", { icon : 1, time: 1000,})
                                window.location.href="/admin"

                            } else {
                                LayuiVue.layer.msg(`${res.msg},登录失败`, { icon : 2, time: 1000})

                            }
                        }).catch((res) => {
                            LayuiVue.layer.msg("网络错误，请稍后再试", { icon : 2, time: 1000})
                        }).finally(()=>{
                            this.loginLoading=false
                        })

                    }



                })


            },
            sendCode() {
                let bool = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.loginForm.email)

                if (!bool) {
                    LayuiVue.layer.msg("邮箱格式不正确", { icon : 2, time: 1000})

                    return false;
                }

                this.sendCodeStatus.loading=true

                this.$request.post("/api/login/send_code", {email: this.loginForm.email}).then(res => {
                    if (res.code == 1) {

                        LayuiVue.layer.msg("验证码发送成功", { icon : 1, time: 1000})

                        this.sendCodeStatus.status = true
                    } else {

                        LayuiVue.layer.msg(`${res.msg},验证码发送失败`, { icon : 2, time: 1000})

                    }
                }).catch((res) => {
                    LayuiVue.layer.msg("网络错误，请稍后再试", { icon : 2, time: 1000})

                }).finally(()=>{
                    this.sendCodeStatus.loading=false

                })


            }
        }
    };
    const app = Vue.createApp(App);
    app.use(LayuiVue);
    app.use(http)
    app.use(util)
    app.mount("#app");
</script>

<style>
    html, body, #app {


        /* 背景图垂直、水平均居中 */
        /* 背景图不平铺 */
        /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
        /* 让背景图基于容器大小伸缩 */
        background-size: cover;
        /* 设置背景颜色，背景图加载过程中会显示背景色 */
        background: #c8b7ee url("/static/img/3.png") no-repeat fixed center center;

    }

    .form-box {
        border: 0;
        min-width: 30%;
        max-width: 80%;
        text-align: center;
        background: #b1d5c8;

    }


</style>
</body>
</html>