<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/index.js"></script>

</head>
<body>
<div id="app">
    <lay-button type="primary">123123</lay-button>
</div>
<script>
    const App = {
        data() {
            return {
                message: "Hello World"
            };
        },
    };
    const app = Vue.createApp(App);
    app.use(LayuiVue);
    app.mount("#app");
</script>
</body>
</html>