<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/global.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/layui-vue.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


</head>

<body>
    <div id="app" style="padding:  10px 10px 10px 10px;background: #f4f4f4">

        <lay-panel shadow="always">


            <lay-row space="10">
                <lay-col md="12" sm="12" xs="24">
                    <lay-space>
                        <span>
                            <span style="color: green" v-show="status==1">
                                <lay-icon type="layui-icon-ok"  color="green"></lay-icon>&nbsp;{{info.clientId}}已连接
                            </span>
                            <span style="color: red" v-show="status==0">
                                <lay-icon type="layui-icon-close" color="red" ></lay-icon>&nbsp;未连接                    
                            </span>
                            <span style="color: orange" v-show="status==2">
                                <lay-icon type="layui-icon-loading" class="layui-anim-rotate layui-anim-loop layui-anim-fadein" color="orange" ></lay-icon>&nbsp;连接中
                            </span>
                        </span>
                        <span style="font-weight: bold">
                            |
                        </span>
                        <span style="font-weight: bolder;font-size: large">
                            {{ info.title }}
                        </span>
                    </lay-space>

                </lay-col>

                <lay-col md="12" sm="12" xs="24">
                    <span style="font-size: large;float: right;clear: right">
                        {{ time }}
                    </span>

                </lay-col>
            </lay-row>

        </lay-panel>

        <lay-card shadow="always" v-for="item in list" class="layui-anim layui-anim-up">

            <lay-notice-bar :background="item.bgcolor" :color="item.color" left-icon="layui-icon-mute"
                right-icon="layui-icon-close" :text="item.msg" mode="closeable"></lay-notice-bar>

        </lay-card>

        <lay-layer title="授权" :shade="true" :shade-close="false" :shade-opacity="1" style="text-align: center;" area="40%" resize
                   move v-model="action.openPwd">

            <lay-form :model="loginForm" ref="lf" required initValidate style="text-align: center;padding: 10px 10px 10px 10px">
                <lay-form-item label="访问密码：" prop="key" :rules="{  type :  'string',min : 1,message:'访问密码不能为空'}">
                    <lay-input v-model="loginForm.key" prefix-icon="layui-icon-password" size="lg"></lay-input>
                </lay-form-item>
                <lay-ripple>
                    <lay-button type="warm" @click="login" :loading="loginLoading" :disabled="loginLoading">验证</lay-button>


                </lay-ripple>
            </lay-form>

        </lay-layer>



    </div>


    <script>


        const App = {
            data() {
                return {
                    clientId: null,
                    list: [],
                    time: "",
                    status: 1,
                    info: {},
                    k:"",
                    t:"",
                    loginLoading:false,
                    loginForm: {
                        key: ""
                    },
                    action:{
                        openPwd:false
                    }
                }
            },
            mounted() {


                let paths = window.location.pathname.split("/")
                console.log(paths)
                if (paths.length !== 3 || paths[2] === null || paths[2] === '') {
                    this.closeThis()
                } else {

                    this.k = paths[2]
                    this.t = sessionStorage.getItem("t")

                    if (!this.k || this.k===""){
                        this.closeThis()
                        return
                    }
                    if (!this.t||this.t===""){
                        this.action.openPwd=true;
                        return;
                    }


                    this.connect()
                    this.initInfo(this.k)


                }


                let that = this;
                setInterval(function () {
                    that.time = that.$util.longTimeWeekFormat(new Date().getTime())
                }, 1000)


            },
            watch: {
                'sendCodeStatus.status'(next, _) {
                    //监听授权码发送倒计时变化
                    if (next) {

                        this.sendCodeStatus.timer=setInterval(()=>{

                            if (this.sendCodeStatus.second===0){
                                this.sendCodeStatus.status=false
                                this.sendCodeStatus.second=60
                                if (this.sendCodeStatus.timer!=null){
                                    clearInterval(this.sendCodeStatus.timer)
                                }
                            }

                            this.sendCodeStatus.second--;


                        },1000)

                    }
                },

            },

            methods: {
                login() {

                    this.$refs.lf.validate((isValidate, model, errors) => {
                        if (!isValidate){
                            return false
                        }else {

                            this.loginLoading=true

                            this.$request.post("/ws/login", {...this.loginForm}).then(res => {
                                if (res.code == 1) {

                                    LayuiVue.layer.msg("验证成功", { icon : 1, time: 1000,})
                                    window.location.href="/admin"

                                } else {
                                    LayuiVue.layer.msg(`${res.msg},验证失败`, { icon : 2, time: 1000})

                                }
                            }).catch((res) => {
                                LayuiVue.layer.msg("网络错误，请稍后再试", { icon : 2, time: 1000})
                            }).finally(()=>{
                                this.loginLoading=false
                            })

                        }



                    })


                },

                initInfo(k) {


                    const storedData = localStorage.getItem(k);
                    this.info = storedData ? JSON.parse(storedData) : {
                        title: `通道${k}`,
                        bgColor: '',
                        ifTTS: 1,
                        maxHistory: 10
                    };

                    this.$watch("info", (newValue) => {
                        localStorage.setItem(k, JSON.stringify(newValue));
                    });

                },

                connect() {
                    let domain = window.location.hostname;
                    let port = window.location.port;
                    let fullDomain = domain + (port ? ':' + port : '');
                    const socket = new WebSocket(`ws://${fullDomain}/ws/${this.k}/${this.t}"`)



                },
                closeThis() {
                    let index = LayuiVue.layer.confirm(`非法访问，已记录信息`, {
                        icon: 2,
                        title: false,
                        closeBtn: false,
                        shadeOpacity: 1,
                        yes: () => {

                            if (typeof window.chrome !== "undefined") {
                                // Chrome 浏览器
                                window.location.href = "about:blank";
                                window.close();
                            } else if (typeof window.navigator.userAgent.indexOf("Firefox") !== -1 ||
                                typeof window.navigator.userAgent.indexOf("Opera") !== -1) {
                                // Firefox 或 Opera 浏览器
                                window.location.href = "about:blank";
                                window.close();
                            } else {
                                // 其他浏览器
                                window.opener = null;
                                window.open("", "_self");
                                window.close();
                            }
                        }
                    })
                },
                voice(value) {
                    const synth = window.speechSynthesis;
                    const msg = new SpeechSynthesisUtterance();
                    msg.text = value;     // 文字内容
                    msg.lang = "zh-CN";  // 使用的语言:中文
                    msg.volume = 1;      // 声音音量：0-1
                    msg.rate = 0.9;        // 语速：0-10
                    msg.pitch = 1;       // 音高：0-1
                    synth.speak(msg);    // 播放
                },
                getRandomColor() {
                    var letters = "0123456789ABCDEF";
                    var color = "#";
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                },
                getRandomBackgroundColor() {
                    var color1 = this.getRandomColor();
                    var color2 = this.getRandomColor();
                    var brightness1 = this.getBrightness(color1);
                    var brightness2 = this.getBrightness(color2);
                    var textColor = "#000";
                    if (brightness1 > brightness2) {
                        textColor = this.getContrastYIQ(color1);
                    } else {
                        textColor = this.getContrastYIQ(color2);
                    }
                    var gradient = "linear-gradient(to right, " + color1 + ", " + color2 + ")";
                    return [gradient, textColor];
                },
                getBrightness(color) {
                    var r = parseInt(color.substring(1, 3), 16);
                    var g = parseInt(color.substring(3, 5), 16);
                    var b = parseInt(color.substring(5, 7), 16);
                    return (r * 299 + g * 587 + b * 114) / 1000;
                },
                getContrastYIQ(color) {
                    var r = parseInt(color.substring(1, 3), 16);
                    var g = parseInt(color.substring(3, 5), 16);
                    var b = parseInt(color.substring(5, 7), 16);
                    var yiq = (r * 299 + g * 587 + b * 114) / 1000;
                    return yiq >= 128 ? "#000" : "#fff";
                }

            }

        };
        const app = Vue.createApp(App);


        app.use(LayuiVue);
        app.use(http)
        app.use(util)

        app.mount("#app");
    </script>

    <style>


    </style>
</body>

</html>